{% extends "layout.html" %}

{% block title %}Create Event{% endblock %}

{% block head %}
<style>
    html, body {
        background-color: var(--bs-tertiary-bg);
    }

    .scrollable-container {
        background-color: var(--bs-body-bg);
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        height: 80vh;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-md-12 mb-3">
    <h5 class="mb-3">Create Event</h5>
    <div class="scrollable-container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <!-- Event type dropdown -->
            <p>
                <div class="form-group">
                    <label for="eventType" class="form-label">Event Type</label>
                    <select id="eventType" name="eventType" class="form-control">
                        <option value="private">Create Private Event</option>
                        <option value="public">Create Public Event</option>
                    </select>
                </div>
            </p>

            <!-- Event title -->
            <p>
                <div class="form-group">
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control", id="titleFormInput", placeholder="Event Title") }}
                </div>
            </p>

            <!-- Date & time -->
            <p>
                <div class="form-group">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" id="date" name="date" class="form-control">
                </div>
            </p>
            <p>
                <div class="form-group">
                    <label for="time" class="form-label">Event Time</label>
                    <input type="time" id="time" name="time" class="form-control">
                </div>
            </p>

            <!-- Location -->
            <p>
                <div class="form-group">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="Event Address or link">
                </div>
            </p>

            <!-- Description -->
            <p>
                <div class="form-group">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control", id="detailsFormInput", placeholder="Event description", style="height: 200px") }}
                </div>
            </p>

            <!-- Submit button -->
            <p>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </p>
        </form>
    </div>
</div>
{% endblock %}